@{
    ViewData["Title"] = "Home Page";
}

@model DiscordBot.Service.DiscordService

<div class="text-center">
    <h1 class="display-4">Service Status</h1>
    <p>
        @Html.LabelFor(model => model.Status, htmlAttributes: new { })
    </p>
</div>
